@charset "utf-8";
*{
    padding:0;
    margin:0;
}
.clearFix::before,
.clearFix::after{
    content:"";
    display:block;
    visibility:hidden;
    height:0;
    line-height:0;
    clear:both;

}
.mp_head{
    width: 100%;
    height:auto;
    position:relative;
    display:none;
    background: #fff url("../images/logo.png") no-repeat left top / 160px 50px;
}
.mp_head .mp_button{
    width: 45px;
    height: 45px;
    padding:5px;
    background-color:#f1fdf5;
    padding:5px;
    box-shadow: 0 0 1px #ccc;
    cursor:pointer;
    float:right;
}

.mp_head .mp_button span{
    display:block;
    width: 100%;
    height: 3px;
    background-color:#2ebb5f;
    margin:5px 0;
}
.mp_head .mp_nav{
    display:none;
    position:absolute;
    top:45px;
    left:0px;
    padding:10px;
    width: 100%;
    z-index:10000;
    background: #fff
}
.mp_head .mp_nav > li{
    border-bottom:1px solid #ccc;
    padding:10px 0;

}
.mp_head .mp_nav > li > a{
    color:#2ebb5f;
    display:block;
    position:relative;
    font-size:16px;
}
.mp_head .mp_nav > li > a > i{
    position:absolute;
    top:0;
    right:20px;
    display:block;
    padding:5px 10px;

}
.mp_head .mp_nav > li .mp_nav_one{
    margin:10px 0 -10px;
    background-color:#eee;
    display:none;

}
.mp_head .mp_nav > li .mp_nav_one li{

    padding:5px 0px 5px 20px;
    border-bottom:1px solid #ccc;
}
.mp_head .mp_nav > li .mp_nav_one li:last-child{
    border-bottom:none;
}
.mp_head .mp_nav > li .mp_nav_one li a{
    color:#2ebb5f;
    font-size:14px;
}
.mp_head .mp_nav > li .mp_nav_one li a:hover{
    color:#2ebb5f;

}